[Unit]
Description=OneKey Ops - CN Check (run once)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/opsctl cn run
